import(Rllvm)
export(getReturnValues)
export(findTerminators)
export(findInstructions)

export(mkRoutineFileTOC)
export(getRReturnTypes)
export(compReturnType)


export(getCalledRoutines)
exportMethods(getCalledRoutines)
export(callGraph)

export(getNativeCalls, getNativeCallsInFile)

export(inferParamTypes, inferParamType)

export(mapRoutineName)


export(getDefinedRoutines)

export(inferExternalParamTypes)

export(getReturnValueNames)


export(getCalls)
exportMethods(getCalls)
export(getSubclasses)




export(findDotCallRoutines, isDotCall)


export(getCalledFunctions, getCallsTo)
