import(Rllvm)
export(getReturnValues)
export(findTerminators)
export(findInstructions)

export(mkRoutineFileTOC)
export(getRReturnTypes)

export(getCalledRoutines)
exportMethods(getCalledRoutines)
export(callGraph)

export(getNativeCalls, getNativeCallsInFile)

export(inferParamTypes, inferParamType)

export(mapRoutineName)


export(getDefinedRoutines)

export(inferExternalParamTypes)

export(getReturnValueNames)
